@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  overscroll-behavior: none;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  overflow-x: hidden;
}

.background {
  background-image: linear-gradient(180deg, rgba(2,0,36,1) 59%, rgb(11, 11, 103) 100%, rgba(0,212,255,1) 100%);
}

.custom-shadow-green-blue {
  box-shadow: 0 35px 60px -15px rgba(0, 255, 0, 0.3), 0 -35px 60px -15px rgba(0, 0, 255, 0.3);
}

@media (max-width: 640px) {
  .hide-icon {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-ms-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}
